header {
	height: 75px;
	width: 100%;
	background-color: #ffffff;
   	border-bottom-style: solid;
   	border-bottom-color: #cccccc;
   	border-bottom-width: medium;
}

.navbar-default, .navbar {
	border-bottom-style: solid;
   	border-bottom-color: #cccccc;
   	border-bottom-width: medium;
   	height: 75px;
}

.navbar-header {
	height: 71px;
	width: 250px;
	text-align: center;
	font-family: "Georgia", "Times New Roman", Times, serif;
	line-height: 300%;
   	font-size: 30px;
	background-color: #4aaaa5;
	border-color: #dddddd;
	color: #ffffff;
}

.nav > li > a {
	padding: 10px 10px;
}

.container {
	padding: 0;
} 

h2 {
	font-weight: bold;
}

.navlinks {
	display: inline-block;
    padding: 20px 0px 0 0px;
    font-size: 20px;
    font-weight: bold;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;
	text-decoration: none;
}

body {
	background-image: url("../images/concrete-texture.png");
}

h3 {
	padding-left: 30px;
    padding-right: 30px;
    margin-top: 0px;
	font-family: "Georgia", "Times New Roman", Times, serif;
	font-weight: bold;
	line-height: 250%;
    font-size: 26px;
	border-color: #dddddd;
	color: #4aaaa5;
	border-bottom: medium solid #cccccc;
}

.main_info, .contact_info{
	background-color: #ffffff;
	padding-bottom: 25px;
    border-style: solid;
    border-color: #dddddd;
	border-width: thin;
	margin-bottom: 15px;
}

p {
   	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   	font-size: 18px;
   	color: #777777;
    line-height: 150%;
    padding: 0 15px;
}

.main_info > img {
	margin: 15px;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
}

.main {
	margin-top: 15px;
	margin-bottom: 100px;
}

footer {
	width: 100%;
	line-height: 5;
	text-align: center;
	background-color: #666666;
	color: #ffffff;
	height: 80px;
	border-top: 10px solid #4aaaa5;
	position: fixed;
	bottom: 0;
}

.image {
	height: 220px;
	width: 240px;
	float: left;
	margin-left: 50px;
    margin-bottom: 35px;
}

.image > h2 {
	position: relative;
	bottom: 100px;
	height: 60px;
	width: calc(100% - 8px);
	margin: 4px;
	text-align: center;
	float: left;
	font-family: "Georgia", "Times New Roman", Times, serif;
	line-height: 250%;
   	font-size: 22px;
	background-color: #4aaaa5;
	border-color: #dddddd;
	color: #ffffff;
}

